:root {
    --main-bg: linear-gradient(to right, #ffffff, #ece9e6);
    --main-accent: #009fff;
    --main-font-color: #020202;
    --main-light-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
        sans-serif;

    background: var(--main-bg);

    color: var(--main-font-color);
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700;

    padding: 40px 0;
}

.container {
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;

    color: var(--main-font-color);
    font-weight: bold;

    padding: 15px 20px;
    border: 2px solid var(--main-accent);
    border-radius: 4px;
}

.button.is-active {
    background-color: var(--main-accent);
    color: var(--main-light-color);
}

.courses-container {
    display: flex;
    flex-direction: column;

    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    gap: 15px;
}
