:root {
    --main-bg: linear-gradient(to right, #e2e2e2, #c9d6ff);
    --main-font-color: #403866;
    --main-accent-color: #8f8fa1;
    --main-light: #ffffff;
    --main-mint: #00a8a8;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
        sans-serif;

    background: var(--main-bg);

    color: var(--main-font-color);
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700;

    margin: 0;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li + li {
    margin-top: 10px;
}

a {
    /* text-decoration: none; */
    color: inherit;

    transition: color 0.3s ease;
}

a:hover {
    color: var(--main-mint);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.input {
    display: block;
    width: 350px;
    height: 40px;

    padding: 0 20px;
    margin-top: 15px;
    background: var(--main-light);
    border-radius: 8px;
    border: 1px solid var(--main-accent-color);
    outline: none;

    color: var(--main-accent-color);
    font-size: 18px;
    font-weight: inherit;
}

.input:focus {
    box-shadow: 0px 0px 1px 1px var(--main-accent-color);
}

.button {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: var(--main-mint);
    color: var(--main-light);

    padding: 15px 20px;
    border-radius: 8px;
}
