.wrapper {
    position: relative;
}

select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 350px;
}

label {
    display: inline-block;
}

label + label {
    margin-top: 10px;
}

.select {
    border: 1px solid var(--select-border);
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: 10px;

    cursor: pointer;

    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

option {
    white-space: normal;
    outline-color: var(--select-focus);
}
