<div class="js-profile-container"></div>

<!-- <div class="card mx-auto" style="width: 18rem">
  <img src="${avatar_url}" class="card-img-top rounded" alt="{name}" />
  <div class="card-body">
    <h4 class="card-title"><strong>${name}</strong></h4>
    <p class="card-text text-muted"><small>${bio}</small></p>
    <p class="card-text"><u>${location}</u></p>
    <ul class="list-group mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Followers
    <span class="badge bg-primary rounded-pill">${followers}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Public repos
    <span class="badge bg-primary rounded-pill">${public_repos}</span>
  </li>
</ul>
<a href="${url}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Go to profile</a>
  </div>
</div> -->

<!-- <div class="alert alert-danger d-flex justify-content-center align-items-center" role="alert">
  <span class="material-icons me-2"> error </span>
  Упс! Что-то пошло не так! Попробуйте еще раз позже.
</div> -->
