<form class="form">
    <div class="wrapper">
        <label class="label">
            Цвет
            <select name="color" class="select">
                <option value="red">Красный</option>
                <option value="green">Зеленый</option>
                <option value="blue">Синий</option>
            </select>
        </label>

        <label class="label">
            Размер
            <select name="size" class="select">
                <option value="sm">Маленький</option>
                <option value="md">Средний</option>
                <option value="xl">Большой</option>
            </select>
        </label>

        <label class="label">
            Материал
            <select name="material" class="select">
                <option value="steel">Сталь</option>
                <option value="wood">Дерево</option>
                <option value="plastic">Пластик</option>
            </select>
        </label>
    </div>

    <div class="wrapper">
        <button class="button" type="submit">Применить</button>
        <button class="button" type="reset">Сбросить</button>
    </div>
</form>
