<!-- Image and text -->
<nav class="navbar navbar-light bg-light shadow-lg rounded p-4">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center m-0" href="#">
      <span class="material-icons-round"> contactless </span>
      <span class="h3 m-0 ms-2 fw-bold">Contacts App</span>
    </a>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary d-flex align-items-center gap-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <span class="material-icons-round"> person_add </span> Add Contact
    </button>
  </div>
</nav>
